<?xml version="1.0"?>

<model>
  <name>f1tenth_car</name>
  <version>1.0</version>
  <sdf version="1.7">f1tenth_car.sdf</sdf>

  <author>
    <name>Aleksander Nikolajsen</name>
    <email>aleknik00@gmail.com</email>
  </author>

  <description>
    A description of your F1TENTH car.
  </description>
</model>

